<!DOCTYPE html>
<html>
  <head>
    <title>Emily Web Dev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navigation">   
      <%= link_to "More about me", about_path  %>
      <%= link_to "Contact me", contact_path  %>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
